header {
    background-color: $headerColor;
    color: $white;
}

.navbar {
    width: 70vw;
    margin: 0 auto;
    padding: 0 20px;
}

.action {
    width: 100%;
    ul {
        display: flex;
        justify-content: flex-end;
        padding-top: 5px;
        li {
            padding: 10px 25px;
            color: #989898;
            &:hover{
                color: $white;
                text-decoration: underline;
            }
        }
    }
    .selecet{
        font-size: 12px;
        line-height: 16px;
        vertical-align: top;
        color: #000;
    }
}

.nav-header {
    display: flex;
    a{
        padding: 10px;
    }
    ul{
        font-size: 15px;
        // display: flex;
        // justify-content: flex-start;
        // text-align: center;
        @include flex(row,flex-start,flex-start);
        li {
            padding: 20px 30px;
            cursor: pointer;
            &:hover{
                color: $black;
                background-color:$white;
            }
        }        
    }
}


@media all and (max-width: 600px) {
    .navbar {
        min-width: 100%;
        margin: 0 auto;
        
    }
    .nav-header {
        display: flex;
        a{
            display: none;
        }
        ul{
            font-size: 15px;
            li {
                padding: 20px 30px;
                display: block;
            }        
        }
    }
    

}


