.sticky-nav{
    width: 100vw;
    background-color: $stickyNav;
    
    position: -webkit-sticky;
    top: 0;
    position: sticky;
}

.container-sub {
    width:60vw;
    margin: 0 auto;
}

.subNav {
    display: flex;
    min-height: 8vh;
    align-items: center;
    a{
        font-size: 18px;
        padding: 17px 35px 18px;
        color: #555;
        &:hover {
            background-color: whitesmoke;
            color: black;
        }
    }
}